<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Brand</th>
      <th scope="col">Color</th>
      <th scope="col">DailyPrice</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let carDetail of carDetails"
      (click)="setCurrentBrand(carDetail)"
      routerLink="/carımages/car/{{ carDetail.id }}"
    >
      <th scope="row">{{ carDetail.id }}</th>
      <td>{{ carDetail.brand }}</td>
      <td>{{ carDetail.color }}</td>
      <td>{{ carDetail.dailyPrice }}</td>
    </tr>
  </tbody>
</table>

<h5 *ngIf="currentCar">{{ currentCar.id }}</h5>
